// Styles for Header
// -----------------------------------------------------------------------------
.breadcrumb {
    background-color: transparent;
    padding-top: 4px !important;

    li {
        width: auto;
        color: rgb(102, 102, 102);

        a {
            color: rgb(102, 102, 102);
        }
        a:hover {
            transition: 0.3s;
            transition-timing-function: linear;
            text-decoration: none;
            color: rgb(252, 13, 0);
        }
    }
    li:first-child::before {
        content: '';
    }
    li::before {
        content: '>';
        color: #00AA00;
    }
}

.breadcrumb > li + li:before {
    content: '>' !important;
    padding: 0 5px !important;
    color: #00AA00 !important;
}

.block--breadcrumbs {
    .breadcrumb {
        display: none;
    }
}
